<div class="toolbar" role="banner" style="margin-top: -40px">
 <a routerLink="/"><img id="img"
  width="50"
   src="../assets/images/home.png"
/></a>
  <a  class="home" routerLink="/">Home</a> 
    <span class="spacer"></span>
    <span class="example-spacer"></span>
    <div id="log">
   <button *ngIf="!isLoggedIn" routerLink="/login"  class="user-icon">Login/ Register </button>	 
      
        <button *ngIf="isLoggedIn" type="submit" (click)="logout()"  class="user-icon">Logout </button>
            
  </div></div>
  
