<div class="container">
    <h5>List of demands</h5>
<br>

    <div *ngIf="!isAdmin">
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Demande Conge</a></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%">Type</th>
                <th style="width: 30%">Date Depart</th>
                <th style="width: 15%">Date Retour</th>
                <th style="width: 20%">Description</th>
                <th style="width: 15%">Etat</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let demande of demandes">
                <td>{{demande.type}}</td>
                <td>{{demande.start_at}}</td>
                <td>{{demande.end_at}}</td>
                <td>{{demande.description}}</td>
                <td>{{demande.status}}</td>
               

                <td style="white-space: nowrap">
                    
                    <button *ngIf="!isaccept" (click)="Accepter()" class="btn btn-sm btn-primary mr-1">Accepter</button>
                        <button *ngIf="!isaccept" class="btn btn-sm btn-danger btn-delete-user"  >Refuser
                    </button>
                </td>

            </tr>
          
        </tbody>
    </table>
    
    </div>
